<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583463946398-0r8irolkb75gdp8rkqatl5o27ep6ieul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583463946398-0r8irolkb75gdp8rkqatl5o27ep6ieul</string>
	<key>API_KEY</key>
	<string>AIzaSyBT5kdlGh5nSVgjtZQDvIanUzwYorUnhWc</string>
	<key>GCM_SENDER_ID</key>
	<string>583463946398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alarmapps</string>
	<key>PROJECT_ID</key>
	<string>iotproject-7f7d4</string>
	<key>STORAGE_BUCKET</key>
	<string>iotproject-7f7d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583463946398:ios:ff95d083d803fc1825138f</string>
</dict>
</plist>